@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --blue-color: #555d70;
}

* {
  box-sizing: border-box;
}

svg {
  cursor: pointer;
  vertical-align: middle;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
}

.theme_dark {
  color: white;
  background-color: #252932;
}

.theme_light {
  color: black;
  background-color: white;
}

h2 {
  font-size: 32px;
  text-shadow: 1px 1px 5px #555d70;
}

.done {
  display: contents;
  font-size: 26px;
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.search {
  width: 300px;
  margin-right: 20px;
}

.search input {
  width: 100%;
  height: 46px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  font-size: 16px;
  font-family: inherit;
  background-color: #84848521;
  color: white;
}

.theme {
  width: 100%;
  text-align: right;
  margin-right: 44px;
  margin-top: 19px;
}

.theme_btn {
  cursor: pointer;
  background-color: #EDF2F7;
  border-radius: 50%;
  padding: 10px;
}

.add_note button {
  height: 46px;
  cursor: pointer;
  background-color: #555d70;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.add_note button:hover {
  background-color: #8b97b3;
}

.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 50px auto;
  justify-content: center;
}

.note {
  cursor: pointer;
  position: relative;
  margin: 20px;
  width: 240px;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 8px;
  height: fit-content;
}

.note:hover {
  box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 20%);
}

.note_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

.empty_note {
  color: red;
}

.note_title span,
.note_description span {
  width: 100%;
  overflow-wrap: break-word;
}

textarea {
  font-family: inherit;
  resize: inherit;
  overflow-y: scroll;
  font-size: 16px;
}

.note_description,
.note_title {
  width: 100%;
  min-height: 40px;
}

.note_title textarea,
.note_description textarea {
  width: 100%;
  height: 60px;
  border: 1px solid rgb(209, 209, 209);
  padding: 5px;
  border-radius: 6px;
  background-color: #84848521;
  color: white;
}

.note_description textarea {
  margin: 10px auto;
}

.note_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  margin-top: 8px;
  color: #7a8091;
}

.note_footer span {
  position: relative;
  bottom: 0;
}

.note_footer span {
  font-size: 12px;
  font-weight: 400;
}

.note_svg {
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 0px;
}

.note_svg svg {
  height: 26px;
  width: 26px;
}

.note_svg svg:hover {
  transform: scale(0.9);
}

.add_note button:active,
.note_svg svg:active,
.delete_note:active {
  transform: scale(0.95);
}

textarea:focus-visible {
  outline: 1px solid grey;
}

@media (max-width: 591px) {
  .note {
    width: 340px;
  }
  .notes {
    margin: 20px auto;
  }
  .search {
    width: 220px;
    margin: 0;
  }
}