@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root[data] {
  --color-svg: white;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.theme_dark {
  color: white;
  background-color: black;
}

.theme_light {
  color: black;
  background-color: white;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.theme_btn {
  background-color: red;
}

.add_note {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.add_note button {
  appearance: none;
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.add_note svg {
  height: 30px;
  width: 30px;
}

.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  justify-content: center;
}

.note {
  cursor: pointer;
  position: relative;
  margin: 20px;
  width: 240px;
  border: 1px solid #dddddd;
  padding: 10px;
  border-radius: 8px;
  height: fit-content;
}

.note:hover {
  box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 20%);
}

.note_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
}

.note_title span,
.note_description span {
  width: 100%;
  overflow-wrap: break-word;
}

textarea {
  font-family: inherit;
  resize: inherit;
  overflow-y: clip;
}

.note_description,
.note_title {
  width: 100%;
  min-height: 40px;
}

.note_title textarea,
.note_description textarea {
  width: 100%;
  border: 1px solid rgb(209, 209, 209);
  padding: 5px;
  border-radius: 6px;
}

.note_description textarea {
  margin: 10px auto;
}

.note_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}

.note_footer span {
  position: relative;
  bottom: 0;
}

.note_footer span {
  font-size: 12px;
  font-weight: 400;
}

.note_svg {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
}

.note_svg svg {
  height: 22px;
  width: 22px;
}

.note_svg svg:hover,
.add_note button:hover {
  transform: scale(0.9);
}

textarea:focus-visible {
  outline: 1px solid grey;
}

svg {
  cursor: pointer;
  border-radius: 3px;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}